* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-image: linear-gradient(to right bottom, #ee4d2d, #ff7337);
  color: #f1f1f1;
  margin-bottom: 25px;
}

.container {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  border-right: 1px solid #333;
  margin-left: 5px;
  padding-right: 5px;
  color: #f1f1f1;
}

nav a:nth-last-child(1) {
  border-right: none;
}

nav a:hover {
  color: #c7c3c3;
}

nav div {
  margin-top: 5px;
  margin-bottom: 20px;
}

.menu_container {
  display: flex;
  padding: 10px;
  align-items: center;
}

.menu_container .logo {
  margin-right: auto;
}

.menu_container .cart {
  margin-left: auto;
}

.search_bar {
  display: flex;
}

input[type='search'] {
  width: 650px;
  padding: 10px;
}

.search {
  cursor: pointer;
}

.checkout-details {
  border: 1px solid #3333333b;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.checkout-details h1 {
  text-align: center;
  font-size: 2.789rem;
}

.order-summary-details {
  display: flex;
  max-width: 520px;
  justify-content: space-between;
  margin: 10px auto;
}
.order-summary {
  text-align: center;
}
.order-summary button {
  background-color: rgb(66, 235, 66);
  color: #000;
  font-weight: bolder;
  padding: 10px 2.892rem;
  cursor: pointer;
  border: none;
}

.order-summary button:hover {
  background-color: rgb(149, 248, 149);
  color: #000000;
}

.item-checkout {
  border: 1px solid #33333337;
  border-radius: 20px;
  padding: 25px;
}

.item-to-checkout-dets {
  display: flex;
  padding: 20px;
  align-items: start;
  justify-content: space-between;
}

.item-checkout {
  margin-bottom: 20px;
}

.item-checkout h1,
.checkout-details h1 {
  font-size: 1rem;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ff7337;
  color: #f1f1f1;
}

@media screen and (max-width: 560px) {
  input[type='search'] {
    width: 180px;
  }
  .menu_container .logo {
    font-size: 1rem;
  }

  .menu_container .cart {
    font-size: 1rem;
  }
  .card-item-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
  }
  img {
    width: 100%;
    height: 150px;
  }
  .card {
    width: 100%;
  }
  .item-to-checkout-dets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .menu_container h1 {
    display: none;
  }
  .cart {
    margin-left: 10px !important;
  }
}
